{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Achievemind | Registrarse</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/registerStyle.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<section class="Home">
		<div class="margin">
			<div class="border">
				<div id="header">
					<h1><img class="logo" src="{% static 'img/AchievemindLogo.png' %}"/>Achievemind</h1>
					<div class="air50"></div>
				</div>
				<div class="padding">
					<div class="register">
						<h2>Registrar usuario</h2>
						<div class="texto">
							<form method="POST">
								{{ form.as_p }}
								{% csrf_token %}
							</div>
							<button type="submit">Registrar</button>
						</form>

						<hr />

						<a href="/enter">Iniciar sesión</a>
					</div>
				</div>			
			</div>
			<footer>
				<p>Achievemind &#174. Todos los derechos reservados. Red social creada y auspiciada por Fedenoodt, para más contacto, hacer <a href="mailto:fedenoodtmolins@gmail.com">clic aquí</a>. Si afronta algún problema navegando en la red, por favor, contacte a soporte técnico desde <a href="mailto:fedenoodt.Achievemind@gmail.com">aquí.</a> <br />
				Agradecemos mucho su visita a Achievemind, que le vaya bien.</p>
			</footer>

		</section>
	</body>
	</html>