{% load staticfiles %}

* {
	color: rgb(243,200,200);
	font-size: 26px;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1 {

	font-size: 50px;
	margin:0 0;
	display: inline-block;
}

h3 {

	font-size: 30px;
	margin:0 0;
	display: inline-block;
}

.back {
	font-size: 35px;
}

.linea {
    margin-bottom: 15px;
}


.Emblema {
	width: 300px;
	margin: 15px;
	border-radius: 10%;
}

.EmblemaRedondo {
    allign-self:left;
	width: 150px;
	margin: 15px;
	border-radius: 60%;
}

.titulo {
    
}

.Descripcion {
    width: 600px;
    height: 80px;
    overflow: scroll;
}

.Contenido {
    width: 600px;
    height: 150px;
    overflow: scroll;
}

.izquierda {
	position: absolute;
	top:10px;
	left:10px;
	width: 700px;
	height: auto;
	background-color: rgba(64,133,190,0.8);
	border-radius: 2%;
	margin-bottom: 10px; 
}

.centro {
	position: absolute;
	top:10px;
	left:720px;
	width: 700px;
	height: auto;
	background-color: rgba(64,133,190,0.8);
	border-radius: 2%;
	margin-bottom: 10px; 
}

.derecha {
	position: absolute;
	top:10px;
	left:10px;
	width: 700px;
	height: auto;
	background-color: rgba(64,133,190,0.8);
	border-radius: 2%;
	margin-bottom: 10px; 
}

.graficoEsquema {
	width: 680px;
}