{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Grupote</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/estiloNexoGrupote.css' %}">
	<meta charset="utf-8">
</head>
<body style="background-image:  url('{% static "img/fondoGrupote.jpg" %}');">
	<center>
		<section class="home">
			<div class="centro">
				<div id="header">
					<a href="https://t.me/joinchat/SiyGQerVNMbJjwMk"><img class="Emblema" src="{% static 'img/emblemaGrupote.jpg' %}"></a><br>
					<h1>Nexo Grupote</h1><br>
					<h3>Una pragmática web de operaciones para el grupo familiar.</h3>
				</div>
				<hr />
				<h2>Iniciar Sesión</h2>
                    <div class="contnent">
                        <form class="logCore" method="POST">
                            <input type = "text">Usuario</input><br />
                            <input type = "text">Contraseña</input><br />
                            <button type="submit">Ingresar</button>
                        </form>
                        <br />
                        <label class="check">
                            <input type="checkbox" checked="checked" name="remember"> Recuerdame
                        </label>
                    </div>
				<hr />
                <a class="back" href="https://fedenoodt.000webhostapp.com/Pruebas/entradaGrupote.html">Volver ↩</a>
			</div>
		</section>
	</center>
</body>
</html>
