{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Grupote</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/estiloNexoGrupote.css' %}">
	<meta charset="utf-8">
</head>
<body style='background-image:  url("{% static '/img/fondoGrupote.jpg' %}");'>
	<center>
		<section class="home">
			<div class="in-flex">
				<div id="header">
					<a href="https://t.me/joinchat/SiyGQerVNMbJjwMk"><img class="Emblema" src="{% static 'img/emblemaGrupote.jpg' %}"></a><br>
					<h1>Nexo Grupote</h1><br>
					<h3>Una pragmática web de operaciones para el grupo familiar.</h3>
				</div>
				<hr />
				<h2>¿Como funciona el Nexo Grupote?</h2>
				<p class="descripcionNexo">El nexo cuenta con un par de funcionalidades útiles, en objetivo de poder almacenar información, de la forma mas accesible.
					Ahora se puede:
						Crear, leer, modificar, y eliminar artículos, en los que pueden ir desde textos planos, hasta PDF's y archivos. Cualquier cosa.
					Solo hace falta ingresar con el usuario en clave de la gestión Grupote (Consultar al administrador los datos), y de ahi hacer cualquier cosa.

					Ahora entramos en un plano mas detallado de instrucciones, para resolver sus dudas mientras navegan por el sistema...
				</p>
				<hr />
			</div>
		</section>
	</center>
</body>
</html>
